<!DOCTYPE html>  
<html lang="en">  
  <head>
   <% include ../views/partials/header %>
  </head>
  <body>
    <h1>Welcome <%- title %></h1>

    <p><a href="/api/listTask">List all Task </a></p>
    
    <p><a href="/api/new">Create new Task </a></p>
    <% include ../views/partials/footer %>
  </body>
</html> 